.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title, .subtitle {
  padding: 20px;
}

.title {
  font-size: 24px;
  border-right: 1px solid #aaa;
}

.subtitle {
  font-size: 16px;
}
