.container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice {
  color: #2196F3;
  padding: 10px 0;
}

.error {
  color: firebrick;
  padding: 10px 0;
}
