.MuiButton-root {
  font-size: 14px !important;
}

.btn-primary {
  color: white !important;
}

.sv_qstn {
  padding-left: 15px;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
  color: #444 !important;
}

.table th:not(:first-child) {
  min-width: 50px;
  text-align: center;
}

.table .radio-inline {
  left: 50%;
  margin-left: -17px !important;
}

.panel-heading {
  text-align: center;
}

.panel-body h4 {
  padding: 0 15px;
}

@media (max-width: 600px) {
  .panel-body {
    padding: 15px 0 !important;
  }
}
